<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>마이페이지</title>
  <link th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-5">
  <h2>안녕하세요, <span th:text="${loginUser.name}">사용자</span>님!</h2>
  <ul class="list-group mt-4">
    <li class="list-group-item">
      <a th:href="@{/users/{id}/edit(id=${loginUser.id})}">
        회원 정보 수정
      </a>
    </li>
    <li class="list-group-item">
      <a th:href="@{/orders/my}">주문 내역 보기</a>
    </li>
    <li class="list-group-item">
      <a th:href="@{/items/new}">
        상품 등록
      </a>
    </li>
  </ul>
  <div class="mt-4">
    <a th:href="@{/}" class="btn btn-secondary">홈으로 돌아가기</a>
  </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
